html {
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /*width: 13%;*/
    width: fit-content;
    height: 100vh;
    border-right: 1px solid darkgray;
    padding: 5rem 0;
    color: deepskyblue;
    font-size: 2rem;
}

div.lhs {
    display: flex;
    flex-flow: column nowrap;
}

button {
    padding: 1.5rem 4rem;
    width: 15rem;
    text-align: left;
}

button:hover {
    background-color: #f4f4f4;
}