html, body, p, img {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 2em;
    background-image: url("../../../00_img/checker.png");
}

img {
    max-width: 100%;
    height: auto;
}