* {
    border: 1px dashed hotpink;
}
body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid green;
}
nav{
    display: inline-block;
    box-sizing: border-box;
}
section {
    display: inline-block;
    vertical-align: top;
}
p {
    width: 400px;
}