* {
    border: 2px dashed hotpink;
}

html {
    border: 2px dashed green;
}

body {
    border: 2px dashed black;
}

div {
    height: 200px;
}

/* Center an image with block level and 'margin: 0 auto' */
img {
    display: block;
    margin: 0 auto;
    border: 10px groove orange;
}