input {
    font-size: 4em;
    margin-top: 4px;
    border: 1px solid darkgrey;
}

[type=submit] {
    margin-top: 10px;
    border: 1px solid darkgrey;
}
/* Link Visited Hover Active*/
[type=submit]:hover {
    background-color: darkgreen;
}

[type=submit]:active {
    background-color: fuchsia;
}

input:required {
    border: 1px solid red;
    background-color: rgba(255, 182, 193, 0.13);
}

