div {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    border-radius: 100%;
    background-image: url("../../00_img/corgi_puppy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px;
}

img {
    width: 100px;
    border-radius: 100%;
    border: 20px groove orangered;
}

.dogone {
    border: 10px dashed orangered;
}

.dogtwo {
    border: 10px dotted orangered;
}

.dogthree {
    border: 10px double orangered;
}